.aboveFoldWrapper {
    position: relative;
    padding: 16rem 1rem 1rem;
    margin-top: -15rem;
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    background: linear-gradient(to bottom, var(--color-primary) 0%,
                                var(--color-primary-light) 100%);
    color: var(--font-color-light);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 3rem;
        left: 0;
        background: {
            image: url('../../../public/waves-bg.svg');
            repeat: no-repeat;
            position: bottom;
        }
        opacity: 0.05;
    }
}

.heroSection {
    position: relative;
    font-size: calc(1rem + .25vw);
    text-align: center;
    z-index: 1;
}

.contentWrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
}

.innerContent { padding: 1rem 1.5rem; }
.narrowContent { max-width: 950px; margin: 0 auto; }

.largeText {
    font-size: calc(1.4rem + .5vw);
    text-align: center;
}

.blueHeaderMed {
    font-size: calc(1.4rem + .5vw);
    text-align: center;
    color: var(--color-primary-light);
    font-weight: 900;
}

.blueHeaderBig {
    font-size: calc(2.4rem + 1.5vw);
    text-align: center;
    color: var(--color-primary-light);
    font-weight: 900;
}

.paralaxBox {
    position: relative;
    padding: 1rem;
    color: var(--font-color-light);
    min-height: 250px;
    background-color: var(--color-red-light);

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: {
            image: url('../../../public/secret-badge.webp');
            repeat: no-repeat;
            position: bottom right;
            size: 30%;
            attachment: fixed;
        }

        div { z-index: 1; }
    }

    h2 {
        font-size: calc(3.2rem + 1.3vw);
        font-weight: 900;
        margin: 0;
        word-wrap: break-word;
    }

    h3 {
        margin: 0;
        font-size: calc(1.2rem + .5vw);
    }
}