.proemWrapper {
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem 0 2rem;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 1.6rem;
        left: 0;
        background: {
            image: url('../../../../../public/proem-underline.svg');
            repeat: no-repeat;
            size: 85%;
            position: bottom center;
        }
    }

    span {
        position: relative;
        display: block;
        padding: .85rem;
        line-height: .8;
        text-shadow: 0 0 8px var(--color-black);
        z-index: 1
    }
}

.textSmall { font-size: calc(.6rem + .8vw); }
.textMedium { font-size: calc(1.6rem + 4vw); font-weight: 700; }
.textLarge { font-size: calc(1.1rem + 5vw); font-weight: 900; }